body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	width: 80px;
	height: 36px;
	background: #fff;
	border-radius: 2px;
	border: solid 1px #e8e8e8;
	color: #00c7f3;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

.btn.active {
	color: #fff;
	background: #00c7f3;
	background-color: #00c7f3;
}
